In [1]:
import pandas as pd
import os

In [16]:
# First, download the file using wget
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/'
color = 'green'
year = '2019'
month = '09'

exit_code = os.system(f"wget {url}{color}/{color}_tripdata_{year}-{month}.csv.gz")

if exit_code == 0:
    print("Download successful.")
else:
    print("Download failed. Exit code:", exit_code)

--2024-01-21 22:14:55--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240122T061455Z&X-Amz-Expires=300&X-Amz-Signature=4535f92655f09b2a3a44f3d814bb5f7e676185e49d684344e12f77a065fa79de&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-21 22:14:55--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240122T061455Z&X-Amz-Expires=300&X-Amz-Signature=4535f92655f09b2a3a44f3d814bb5f7e676185e49d684344e12f77a065fa79de&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7.5M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-09.csv.gz.1’

     0K .......... .......... .......... .......... ..........  0% 2.23M 3s
    50K .......... .......... .......... .......... ..........  1% 3.55M 3s
   100K .......... .......... .......... .......... ..........  1% 4.61M 2s
   150K .......... .......... .......... .......... ..........  2% 22.5M 2s
   200K .......... .......... .......... .......... ..........  3% 2.46M 2s
   250K .......... .......... .......... .......... ..........  3%  121M 2s
   300K .......... .......... .......... .......... ..........  4% 12.3M 2s
   350K .......... .......... .......... .......... ..........  5%  154M 1s
   400K .......... .......... .......... .......... ..........  5% 10.8M 1s
   450K .......... .......... .......... .......... ..........  6% 4.02M 1s
   500K .......... .......... .......... .......... ..........  7% 18.9M 1s
   550K .......... .......... .......... .......... ..........  7% 17.4M 1s
   600K .......... .......... .......... .......... ..........  8% 24.7M 1s
   650K .......... .......... .......... .......... ..........  9% 11.6M 1s
   700K .......... .......... .......... .......... ..........  9% 7.67M 1s
   750K .......... .......... .......... .......... .......... 10% 42.0M 1s
   800K .......... .......... .......... .......... .......... 11% 11.6M 1s
   850K .......... .......... .......... .......... .......... 11% 15.2M 1s
   900K .......... .......... .......... .......... .......... 12% 56.6M 1s
   950K .......... .......... .......... .......... .......... 13% 16.2M 1s
  1000K .......... .......... .......... .......... .......... 13% 11.1M 1s
  1050K .......... .......... .......... .......... .......... 14% 28.5M 1s
  1100K .......... .......... .......... .......... .......... 14% 19.5M 1s
  1150K .......... .......... .......... .......... .......... 15% 14.8M 1s
  1200K .......... .......... .......... .......... .......... 16% 37.5M 1s
  1250K .......... .......... .......... .......... .......... 16% 8.35M 1s
  1300K .......... .......... .......... .......... .......... 17% 59.8M 1s
  1350K .......... .......... .......... .......... .......... 18% 18.9M 1s
  1400K .......... .......... .......... .......... .......... 18% 20.3M 1s
  1450K .......... .......... .......... .......... .......... 19% 12.9M 1s
  1500K .......... .......... .......... .......... .......... 20% 13.3M 1s
  1550K .......... .......... .......... .......... .......... 20% 19.4M 1s
  1600K .......... .......... .......... .......... .......... 21% 27.1M 1s
  1650K .......... .......... .......... .......... .......... 22% 18.7M 1s
  1700K .......... .......... .......... .......... .......... 22% 4.77M 1s
  1750K .......... .......... .......... .......... .......... 23% 12.7M 1s
  1800K .......... .......... .......... .......... .......... 24% 53.0M 1s
  1850K .......... .......... .......... .......... .......... 24% 35.1M 1s
  1900K .......... .......... .......... .......... .......... 25% 24.3M 1s
  1950K .......... .......... .......... .......... .......... 26% 4.61M 1s
  2000K .......... .......... .......... .......... .......... 26% 17.7M 1s
  2050K .......... .......... .......... .......... .......... 27% 51.3M 1s
  2100K .......... .......... .......... .......... .......... 28% 11.2M 1s
  2150K .......... .......... .......... .......... .......... 28% 7.61M 1s
  2200K .......... .......... .......... .......... .......... 29%  127M 0s
  2250K .......... .......... .......... .......... .......... 29%  267M 0s
  2300K .......... .......... .......... .......... .......... 30% 79.5M 0s
  2350K .......... .......... .......... .......... .......... 31% 6.92M 0s
  2400K .......... .......... .......... .......... .......... 31% 26.0M 0s
  2450K .......... .......... .......... .......... .......... 32% 17.6M 0s
  2500K .......... .......... .......... .......... .......... 33% 33.7M 0s
  2550K .......... .......... .......... .......... .......... 33% 9.73M 0s
  2600K .......... .......... .......... .......... .......... 34% 19.1M 0s
  2650K .......... .......... .......... .......... .......... 35% 11.4M 0s
  2700K .......... .......... .......... .......... .......... 35% 28.7M 0s
  2750K .......... .......... .......... .......... .......... 36% 18.0M 0s
  2800K .......... .......... .......... .......... .......... 37% 22.4M 0s
  2850K .......... .......... .......... .......... .......... 37%  106M 0s
  2900K .......... .......... .......... .......... .......... 38% 24.1M 0s
  2950K .......... .......... .......... .......... .......... 39% 12.0M 0s
  3000K .......... .......... .......... .......... .......... 39% 13.1M 0s
  3050K .......... .......... .......... .......... .......... 40%  264M 0s
  3100K .......... .......... .......... .......... .......... 41% 17.6M 0s
  3150K .......... .......... .......... .......... .......... 41% 14.2M 0s
  3200K .......... .......... .......... .......... .......... 42% 33.4M 0s
  3250K .......... .......... .......... .......... .......... 43% 21.8M 0s
  3300K .......... .......... .......... .......... .......... 43% 22.2M 0s
  3350K .......... .......... .......... .......... .......... 44% 10.2M 0s
  3400K .......... .......... .......... .......... .......... 44% 7.59M 0s
  3450K .......... .......... .......... .......... .......... 45% 10.6M 0s
  3500K .......... .......... .......... .......... .......... 46% 19.4M 0s
  3550K .......... .......... .......... .......... .......... 46% 67.9M 0s
  3600K .......... .......... .......... .......... .......... 47% 22.1M 0s
  3650K .......... .......... .......... .......... .......... 48% 20.7M 0s
  3700K .......... .......... .......... .......... .......... 48% 3.84M 0s
  3750K .......... .......... .......... .......... .......... 49% 17.7M 0s
  3800K .......... .......... .......... .......... .......... 50% 26.0M 0s
  3850K .......... .......... .......... .......... .......... 50% 15.4M 0s
  3900K .......... .......... .......... .......... .......... 51% 5.11M 0s
  3950K .......... .......... .......... .......... .......... 52% 22.6M 0s
  4000K .......... .......... .......... .......... .......... 52% 4.21M 0s
  4050K .......... .......... .......... .......... .......... 53% 17.7M 0s
  4100K .......... .......... .......... .......... .......... 54% 22.0M 0s
  4150K .......... .......... .......... .......... .......... 54% 20.1M 0s
  4200K .......... .......... .......... .......... .......... 55% 15.7M 0s
  4250K .......... .......... .......... .......... .......... 56% 33.4M 0s
  4300K .......... .......... .......... .......... .......... 56% 50.3M 0s
  4350K .......... .......... .......... .......... .......... 57% 6.11M 0s
  4400K .......... .......... .......... .......... .......... 58% 68.3M 0s
  4450K .......... .......... .......... .......... .......... 58% 11.3M 0s
  4500K .......... .......... .......... .......... .......... 59% 21.7M 0s
  4550K .......... .......... .......... .......... .......... 59% 46.4M 0s
  4600K .......... .......... .......... .......... .......... 60% 31.4M 0s
  4650K .......... .......... .......... .......... .......... 61% 14.9M 0s
  4700K .......... .......... .......... .......... .......... 61% 68.3M 0s
  4750K .......... .......... .......... .......... .......... 62% 25.8M 0s
  4800K .......... .......... .......... .......... .......... 63% 11.8M 0s
  4850K .......... .......... .......... .......... .......... 63% 21.2M 0s
  4900K .......... .......... .......... .......... .......... 64% 5.41M 0s
  4950K .......... .......... .......... .......... .......... 65% 29.5M 0s
  5000K .......... .......... .......... .......... .......... 65% 33.1M 0s
  5050K .......... .......... .......... .......... .......... 66% 29.0M 0s
  5100K .......... .......... .......... .......... .......... 67% 3.80M 0s
  5150K .......... .......... .......... .......... .......... 67% 23.6M 0s
  5200K .......... .......... .......... .......... .......... 68% 22.4M 0s
  5250K .......... .......... .......... .......... .......... 69%  129M 0s
  5300K .......... .......... .......... .......... .......... 69% 56.7M 0s
  5350K .......... .......... .......... .......... .......... 70% 18.2M 0s
  5400K .......... .......... .......... ......

Download successful.

.... .......... 71% 72.6M 0s
  5450K .......... .......... .......... .......... .......... 71% 21.8M 0s
  5500K .......... .......... .......... .......... .......... 72% 10.1M 0s
  5550K .......... .......... .......... .......... .......... 73% 15.8M 0s
  5600K .......... .......... .......... .......... .......... 73% 85.5M 0s
  5650K .......... .......... .......... .......... .......... 74% 6.09M 0s
  5700K .......... .......... .......... .......... .......... 74%  198M 0s
  5750K .......... .......... .......... .......... .......... 75% 12.4M 0s
  5800K .......... .......... .......... .......... .......... 76% 24.1M 0s
  5850K .......... .......... .......... .......... .......... 76% 16.6M 0s
  5900K .......... .......... .......... .......... .......... 77% 24.0M 0s
  5950K .......... .......... .......... .......... .......... 78% 24.8M 0s
  6000K .......... .......... .......... .......... .......... 78% 17.8M 0s
  6050K .......... .......... .......... .......... .......... 79% 54.1M 0s
  6100K .......... .......... .......... .......... .......... 80% 6.62M 0s
  6150K .......... .......... .......... .......... .......... 80%  132M 0s
  6200K .......... .......... .......... .......... .......... 81% 12.2M 0s
  6250K .......... .......... .......... .......... .......... 82% 29.6M 0s
  6300K .......... .......... .......... .......... .......... 82% 15.7M 0s
  6350K .......... .......... .......... .......... .......... 83%  113M 0s
  6400K .......... .......... .......... .......... .......... 84% 13.2M 0s
  6450K .......... .......... .......... .......... .......... 84% 23.4M 0s
  6500K .......... .......... .......... .......... .......... 85% 18.9M 0s
  6550K .......... .......... .......... .......... .......... 86% 17.5M 0s
  6600K .......... .......... .......... .......... .......... 86% 95.0M 0s
  6650K .......... .......... .......... .......... .......... 87% 22.7M 0s
  6700K .......... .......... .......... .......... .......... 88% 4.69M 0s
  6750K .......... .......... .......... .......... .......... 88% 23.0M 0s
  6800K .......... .......... .......... .......... .......... 89%  137M 0s
  6850K .......... .......... .......... .......... .......... 89% 8.54M 0s
  6900K .......... .......... .......... .......... .......... 90% 4.85M 0s
  6950K .......... .......... .......... .......... .......... 91% 30.6M 0s
  7000K .......... .......... .......... .......... .......... 91% 24.1M 0s
  7050K .......... .......... .......... .......... .......... 92% 4.21M 0s
  7100K .......... .......... .......... .......... .......... 93%  129M 0s
  7150K .......... .......... .......... .......... .......... 93% 79.4M 0s
  7200K .......... .......... .......... .......... .......... 94% 7.51M 0s
  7250K .......... .......... .......... .......... .......... 95% 21.3M 0s
  7300K .......... .......... .......... .......... .......... 95% 9.18M 0s
  7350K .......... .......... .......... .......... .......... 96% 20.3M 0s
  7400K .......... .......... .......... .......... .......... 97% 17.3M 0s
  7450K .......... .......... .......... .......... .......... 97% 19.1M 0s
  7500K .......... .......... .......... .......... .......... 98% 16.3M 0s
  7550K .......... .......... .......... .......... .......... 99% 23.6M 0s
  7600K .......... .......... .......... .......... .......... 99% 17.2M 0s
  7650K .......... ..........                                 100% 4.80M=0.5s

2024-01-21 22:14:56 (13.6 MB/s) - ‘green_tripdata_2019-09.csv.gz.1’ saved [7854533/7854533]

In [2]:
from sqlalchemy import create_engine

In [5]:
# Test if we are able to connect to the PostgreSQL database set up with Docker.
engine = create_engine('postgresql://p1user:root@localhost:5432/ny_taxi')

In [6]:
# Connection successfully established 
engine.connect()

In [7]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [47]:
# Now let's take a look at the data and see if any transformation needs to be done. 
df = pd.read_csv('green_tripdata_2019-09.csv.gz', nrows=100)
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-09-01 00:40:55,2019-09-01 00:48:35,N,1,95,160,1,2.24,9.0,0.5,0.5,0.00,0.00,NaN,0.3,10.30,2,1,0.0
96,2,2019-09-01 00:13:52,2019-09-01 00:21:47,N,1,75,151,1,2.04,8.5,0.5,0.5,1.96,0.00,NaN,0.3,11.76,1,1,0.0
97,2,2019-09-01 00:37:24,2019-09-01 01:02:31,N,1,41,182,1,7.77,26.0,0.5,0.5,5.46,0.00,NaN,0.3,32.76,1,1,0.0
98,2,2019-09-01 00:22:15,2019-09-01 00:29:52,N,1,74,260,1,4.99,15.0,0.5,0.5,2.58,6.12,NaN,0.3,25.00,1,1,0.0
99,2,2019-09-01 00:11:53,2019-09-01 00:30:31,N,1,255,228,1,7.54,22.0,0.5,0.5,0.00,0.00,NaN,0.3,23.30,2,1,0.0

In [12]:
# We'll need to convert the two datetime columns from TEXT in our pipeline.
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [38]:
# Reread the data into a iterator because we would like to ingest the file in smaller chunks
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', iterator=True, chunksize=100000)

In [39]:
df0 = next(df_iter)
len(df0)

100000

In [40]:
# get the column schema
df0.lpep_pickup_datetime = pd.to_datetime(df0.lpep_pickup_datetime)
df0.lpep_dropoff_datetime = pd.to_datetime(df0.lpep_dropoff_datetime)

df0.head(n=0).to_sql(name=f'{color}_tripdata_{year}_{month}', con=engine, if_exists='replace')

0

In [41]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,green_tripdata_2019_09,p1user,None,True,False,False,False

In [42]:
%time df0.to_sql(name=f'{color}_tripdata_{year}_{month}', con=engine, if_exists='append')

CPU times: user 5.92 s, sys: 215 ms, total: 6.14 s
Wall time: 9.92 s

1000

In [43]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   lpep_pickup_datetime   100000 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  100000 non-null  datetime64[ns]
 3   store_and_fwd_flag     100000 non-null  object
 4   RatecodeID             100000 non-null  int64
 5   PULocationID           100000 non-null  int64
 6   DOLocationID           100000 non-null  int64
 7   passenger_count        100000 non-null  int64
 8   trip_distance          100000 non-null  float64
 9   fare_amount            100000 non-null  float64
 10  extra                  100000 non-null  float64
 11  mta_tax                100000 non-null  float64
 12  tip_amount             100000 non-null  float64
 13  tolls_amount           100000 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  100000 non-null  float64
 16  total_amount           100000 non-null  float64
 17  payment_type           100000 non-null  int64
 18  trip_type              100000 non-null  int64
 19  congestion_surcharge   100000 non-null  float64
dtypes: datetime64[ns](2), float64(10), int64(7), object(1)
memory usage: 15.3+ MB

In [28]:
from time import time

In [44]:
while True: 
    try:
        t_start = time()

        df = next(df_iter)

        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

        df.to_sql(name=f'{color}_tripdata_{year}_{month}', con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))
    
    except StopIteration:
            print("Finished ingesting data into the postgres database")
            break

inserted another chunk, took 9.889 second
inserted another chunk, took 9.571 second

/var/folders/rb/jk253k_x3jg806nbj25t_swr0000gq/T/ipykernel_32247/1684805960.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 9.603 second
inserted another chunk, took 4.000 second
Finished ingesting data into the postgres database

In [45]:
query = """
select count(1)
from green_tripdata_2019_09
"""

pd.read_sql(query, con=engine)

    count
0  449063