In [1]:
import pandas as pd

In [23]:
url_prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/'
color = 'green'
years = [2020]
months = [10, 11, 12]

In [32]:
def load_data_from_api(file_url):
    taxi_dtypes = {
                    'VendorID': pd.Int64Dtype(),
                    'store_and_fwd_flag':str,
                    'RatecodeID':pd.Int64Dtype(),              
                    'PULocationID':pd.Int64Dtype(),
                    'DOLocationID':pd.Int64Dtype(),
                    'passenger_count': pd.Int64Dtype(),
                    'trip_distance': float,
                    'fare_amount': float,
                    'extra':float,
                    'mta_tax':float,
                    'tip_amount':float,
                    'tolls_amount':float,
                    'ehail_fee':float,
                    'improvement_surcharge':float,
                    'total_amount':float,
                    'payment_type': pd.Int64Dtype(),
                    'congestion_surcharge':float,
                }

    # native date parsing 
    parse_dates = ['lpep_pickup_datetime', 'lpep_dropoff_datetime']

    return pd.read_csv(
        file_url, sep=',', compression='gzip', dtype=taxi_dtypes, parse_dates=parse_dates
        )

In [29]:
def df_all(url_prefix, color, years, months):
    frames = []
    for y in years:
        for m in months:
            file_name = f'{url_prefix}/{color}/{color}_tripdata_{y}-{str(m).zfill(2)}.csv.gz'
            print(file_name)
            frames.append(load_data_from_api(file_name))
    return pd.concat(frames, ignore_index=True)

In [33]:
df = df_all(url_prefix, color, years, months)

https://github.com/DataTalksClub/nyc-tlc-data/releases/download//green/green_tripdata_2020-10.csv.gz
https://github.com/DataTalksClub/nyc-tlc-data/releases/download//green/green_tripdata_2020-11.csv.gz
https://github.com/DataTalksClub/nyc-tlc-data/releases/download//green/green_tripdata_2020-12.csv.gz

In [34]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1,7,7,1,0.79,5.00,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1,1.0,0.0
1,2,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1,179,7,1,0.50,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1.0,0.0
2,2,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1,179,223,1,0.60,4.00,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1.0,0.0
3,1,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1,134,216,2,4.40,13.50,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2,1.0,0.0
4,1,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1,82,7,1,2.90,10.50,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266850,<NA>,2020-12-31 23:02:00,2020-12-31 23:16:00,NaN,<NA>,174,168,<NA>,7.04,20.33,0.0,0.0,0.00,0.0,NaN,0.3,20.63,<NA>,NaN,NaN
266851,<NA>,2020-12-31 23:39:00,2020-12-31 23:54:00,NaN,<NA>,256,225,<NA>,2.79,13.17,0.0,0.0,0.00,0.0,NaN,0.3,13.47,<NA>,NaN,NaN
266852,<NA>,2020-12-31 23:09:00,2020-12-31 23:33:00,NaN,<NA>,146,10,<NA>,12.41,45.12,0.0,0.0,2.75,0.0,NaN,0.3,48.17,<NA>,NaN,NaN
266853,<NA>,2020-12-31 23:01:00,2020-12-31 23:12:00,NaN,<NA>,196,28,<NA>,4.46,13.96,0.0,0.0,3.13,0.0,NaN,0.3,17.39,<NA>,NaN,NaN
266854,<NA>,2020-12-31 23:12:00,2020-12-31 23:37:00,NaN,<NA>,215,35,<NA>,10.34,39.95,0.0,0.0,2.75,0.0,NaN,0.3,43.00,<NA>,NaN,NaN

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266855 entries, 0 to 266854
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               147393 non-null  Int64
 1   lpep_pickup_datetime   266855 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  266855 non-null  datetime64[ns]
 3   store_and_fwd_flag     147393 non-null  object
 4   RatecodeID             147393 non-null  Int64
 5   PULocationID           266855 non-null  Int64
 6   DOLocationID           266855 non-null  Int64
 7   passenger_count        147393 non-null  Int64
 8   trip_distance          266855 non-null  float64
 9   fare_amount            266855 non-null  float64
 10  extra                  266855 non-null  float64
 11  mta_tax                266855 non-null  float64
 12  tip_amount             266855 non-null  float64
 13  tolls_amount           266855 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  266855 non-null  float64
 16  total_amount           266855 non-null  float64
 17  payment_type           147393 non-null  Int64
 18  trip_type              147393 non-null  float64
 19  congestion_surcharge   147393 non-null  float64
dtypes: Int64(6), datetime64[ns](2), float64(11), object(1)
memory usage: 42.2+ MB

In [57]:
def transformation(df):
    df = df[(df['passenger_count'] > 0) & (df['trip_distance'] > 0)]
    df['lpep_pickup_date'] = df['lpep_pickup_datetime'].dt.date
    def camel_to_snake(name):
        import re
        name = re.sub('(.)([A-Z][a-z]+)', r'\1_\2', name)
        return re.sub('([a-z0-9])([A-Z])', r'\1_\2', name).lower()

    original_columns = df.columns
    df.columns = [camel_to_snake(column) for column in df.columns]
    df.reset_index(drop=True, inplace=True)
    changed_columns_count = sum(1 for original, new in zip(original_columns, df.columns) if original != new)
    
    print(f"Columns converted to snake_case: {changed_columns_count}")
    
    return df

In [58]:
df_transformed = transformation(df)

Columns converted to snake_case: 4

/var/folders/rb/jk253k_x3jg806nbj25t_swr0000gq/T/ipykernel_93124/2904816869.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lpep_pickup_date'] = df['lpep_pickup_datetime'].dt.date

In [59]:
df_transformed

,vendor_id,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,ratecode_id,pu_location_id,do_location_id,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickup_date
0,2,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1,7,7,1,0.79,5.0,...,0.5,1.58,0.0,NaN,0.3,7.88,1,1.0,0.0,2020-10-01
1,2,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1,179,7,1,0.50,4.0,...,0.5,0.00,0.0,NaN,0.3,5.30,2,1.0,0.0,2020-10-01
2,2,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1,179,223,1,0.60,4.0,...,0.5,1.06,0.0,NaN,0.3,6.36,1,1.0,0.0,2020-10-01
3,1,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1,134,216,2,4.40,13.5,...,0.5,0.00,0.0,NaN,0.3,14.80,2,1.0,0.0,2020-10-01
4,1,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1,82,7,1,2.90,10.5,...,0.5,0.00,0.0,NaN,0.3,11.80,2,1.0,0.0,2020-10-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139365,2,2020-12-31 23:08:35,2020-12-31 23:13:00,N,1,41,74,1,0.79,5.0,...,0.5,0.00,0.0,NaN,0.3,6.30,2,1.0,0.0,2020-12-31
139366,2,2020-12-31 23:11:04,2020-12-31 23:20:08,N,5,41,116,2,2.31,12.0,...,0.0,0.00,0.0,NaN,0.3,12.30,2,2.0,0.0,2020-12-31
139367,2,2020-12-31 23:24:33,2020-12-31 23:40:24,N,5,116,119,1,5.73,20.0,...,0.0,0.00,0.0,NaN,0.3,20.30,2,2.0,0.0,2020-12-31
139368,2,2020-12-31 23:13:59,2020-12-31 23:16:20,N,1,42,42,1,0.31,3.5,...,0.5,0.00,0.0,NaN,0.3,4.80,2,1.0,0.0,2020-12-31
139369,2,2020-12-31 23:54:15,2021-01-01 00:11:17,N,1,75,167,1,3.74,15.0,...,0.5,1.00,0.0,NaN,0.3,17.30,1,1.0,0.0,2020-12-31

In [60]:
df_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139370 entries, 0 to 139369
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   vendor_id              139370 non-null  Int64
 1   lpep_pickup_datetime   139370 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  139370 non-null  datetime64[ns]
 3   store_and_fwd_flag     139370 non-null  object
 4   ratecode_id            139370 non-null  Int64
 5   pu_location_id         139370 non-null  Int64
 6   do_location_id         139370 non-null  Int64
 7   passenger_count        139370 non-null  Int64
 8   trip_distance          139370 non-null  float64
 9   fare_amount            139370 non-null  float64
 10  extra                  139370 non-null  float64
 11  mta_tax                139370 non-null  float64
 12  tip_amount             139370 non-null  float64
 13  tolls_amount           139370 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  139370 non-null  float64
 16  total_amount           139370 non-null  float64
 17  payment_type           139370 non-null  Int64
 18  trip_type              139370 non-null  float64
 19  congestion_surcharge   139370 non-null  float64
 20  lpep_pickup_date       139370 non-null  object
dtypes: Int64(6), datetime64[ns](2), float64(11), object(2)
memory usage: 23.1+ MB